on:
  push:
    branches:
      - release
      - next

name: Publish

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - name: Setup Git User
        run: |
          git config --global user.email "andrew.leedham@xerox.com"
          git config --global user.name "Andrew Leedham"
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          token: ${{ secrets.REPO_GITHUB_TOKEN }}
      - uses: nrwl/nx-set-shas@v2
        with:
          main-branch-name: 'next'
      - uses: pnpm/action-setup@v2.2.1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm nx affected:lint
      - run: pnpm nx affected:test
      - run: pnpm nx affected:build
      - name: Modify Workspace File
        run: sed -e "s|'packages\/|'dist/|" pnpm-workspace.yaml > pnpm-new.yaml && mv pnpm-new.yaml pnpm-workspace.yaml
      - name: 'Check if already in pre mode'
        uses: andstor/file-existence-action@v1
        with:
          files: '.changeset/pre.json'
      - name: Switch to changsets prerelease mode
        if: github.ref == 'refs/heads/next' && steps.check_files.outputs.file_exists == 'false'
        run: pnpm changeset pre enter next
      - name: Publish with changesets
        uses: changesets/action@v1
        with:
          publish: pnpm changeset publish
          setupGitUser: false
        env:
          NPM_TOKEN: ${{secrets.NPM_TOKEN}}
          GITHUB_TOKEN: ${{ secrets.REPO_GITHUB_TOKEN }}
